body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#content {
    display: none;
    margin: 20px;
}

#loginForm {
    margin: 20px;
}

form {
    border: 1px solid #ddd;
    padding: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
